.filter {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.popup {
  width: 45rem;
  border-radius: 16px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: 600ms appear;
}
.close {
  color: white;
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.xmark {
  font-size: large;
  cursor: pointer;
}
.popup_container {
  width: 100%;
}
.popup_header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.userId {
  font-size: 2rem;
  font-weight: 900;
  padding: 0.5rem 0;
}
.rate {
  padding: 0.5rem 0;
}

.popup_contents {
  width: 100%;
}
.img {
  width: 100%;
  height: 35rem;
  margin-top: 0.6rem;
  aspect-ratio: 1/1;
}
.contents {
  font-size: 1.5rem;
  padding: 1.5rem 1.4rem 2rem 1.4rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .popup {
    width: 70%;
  }
}
