.review_container {
  width: 100%;
}
.review_container2 {
  font-family: 'Noto Sans KR', sans-serif;
  width: 95%;
  height: 120px;
  padding: 0.4rem 1rem;
  resize: none;
  margin: 0 1.05rem;
  margin-top: 0.4rem;
}
.button {
  margin-left: 1.05rem;
}
.section {
  width: 40rem;
  height: 40rem;
}
