.review_container {
  width: 100%;
}
.login_container {
  width: 100%;
  text-align: center;
}
.login_font {
  text-align: center;
}
.login_button {
  width: 16rem;
  height: 4.5rem;
  background-color: rgb(215, 104, 89);
  color: white;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 4rem;
  cursor: pointer;
}
.review_container2 {
  font-family: 'Noto Sans KR', sans-serif;
  width: 95%;
  height: 120px;
  padding: 0.4rem 1rem;
  resize: none;
  margin: 0 2.5%;
  margin-top: 1rem;
  box-sizing: border-box;
}
.button {
  margin-left: 2.5%;
  margin-bottom: 2rem;
}
.total {
  font-size: 2rem;
  font-weight: 900;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(221, 221, 221);
  padding: 2rem 0;
  padding-left: 1.5rem;
}
.section {
  width: 100%;
}
.review_container3 {
  width: 100%;
  padding: 1.5rem;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(221, 221, 221);
}
.id {
  font-size: 2rem;
  font-weight: 900;
}

.img {
  margin-top: 0.6rem;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 8px;
}

.contents {
  font-size: 1.5rem;
  margin-top: 0.6rem;
}
