@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgba(242, 242, 242);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
